$primary000: #ffffff;
$primary100: #d5d5d5;
$primary200: #9c9c9c;
$primary300: #818181;
$primary400: #3d3d3d;
$primary500: #292929;
$primary600: #1d1d1d;
$primary700: #000000;

$blue000: #eeeeff;
$blue100: #d3d3ff;
$blue200: #b0b0ff;
$blue300: #9090ff;
$blue400: #7979ff;
$blue500: #4b4bff;
$blue600: #2d2dff;
$blue700: #0000ff;

$green000: #eeffee;
$green100: #d3ffd3;
$green200: #b0ffb0;
$green300: #90ff90;
$green400: #79ff79;
$green500: #4bff4b;
$green600: #2dff2d;
$green700: #00ff00;

$red000: #ffeeee;
$red100: #ffd3d3;
$red200: #ffb0b0;
$red300: #ff9090;
$red400: #ff7979;
$red500: #ff4b4b;
$red600: #ff2d2d;
$red700: #ff0000;

$header-color: $primary500;
$footer-color: $primary500;
$gnb-color: $primary400;

$white: #ffffff;
$black: #000000;
