@import 'src/styles/color.module.scss';

@import './type1.module.scss';
@import './type2.module.scss';
@import './type3.module.scss';
@import './type4.module.scss';

@mixin types($transform) {
  &.type-1 {
    &.active {
      @include type-1($transform);
    }
  }
  &.type-2 {
    &.active {
      @include type-2($transform);
    }
  }
  &.type-3 {
    &.active {
      @include type-3($transform);
    }
  }
  &.type-4 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    @include type-4($transform);
    &.active {
      @include type-4-a($transform);
    }
  }
}

@mixin bar {
  & > span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $blue100;
    border-radius: 4px;
  }
  & > span:nth-of-type(1) {
    top: 0;
  }

  & > span:nth-of-type(2) {
    top: 8px;
  }

  & > span:nth-of-type(3) {
    bottom: 0;
  }
}

@mixin hamburger {
  position: relative;
  width: 24px;
  height: 18px;
  cursor: pointer;
  &,
  & > span {
    display: inline-block;
    transition: transform 0.4s, opacity 0.4s;
    box-sizing: border-box;
  }
}

.hamburger {
  @include hamburger;
  @include bar;
  @include types(8px);
}
