@mixin type-4($transform) {
  & > span:nth-of-type(1):not(.pause) {
    -webkit-animation: bar1-ani 0.75s forwards;
    animation: bar1-ani 0.75s forwards;
    @-webkit-keyframes bar1-ani {
      0% {
        -webkit-transform: translateY($transform) rotate(45deg);
      }
      50% {
        -webkit-transform: translateY($transform) rotate(0);
      }
      100% {
        -webkit-transform: translateY(0) rotate(0);
      }
    }
    @keyframes bar1-ani {
      0% {
        -webkit-transform: translateY($transform) rotate(45deg);
      }
      50% {
        -webkit-transform: translateY($transform) rotate(0);
      }
      100% {
        -webkit-transform: translateY(0) rotate(0);
      }
    }
  }
  & > span:nth-of-type(2) {
    transition: all 0.25s 0.25s;
    opacity: 1;
  }
  & > span:nth-of-type(3):not(.pause) {
    -webkit-animation: bar3-ani 0.75s forwards;
    animation: bar3-ani 0.75s forwards;
    @-webkit-keyframes bar3-ani {
      0% {
        -webkit-transform: translateY(-#{$transform}) rotate(-45deg);
      }
      50% {
        -webkit-transform: translateY(-#{$transform}) rotate(0);
      }
      100% {
        -webkit-transform: translateY(0) rotate(0);
      }
    }
    @keyframes bar3-ani {
      0% {
        transform: translateY(-#{$transform}) rotate(-45deg);
      }
      50% {
        transform: translateY(-#{$transform}) rotate(0);
      }
      100% {
        transform: translateY(0) rotate(0);
      }
    }
  }
}

@mixin type-4-a($transform) {
  & > span:nth-of-type(1) {
    -webkit-animation: a-bar1-ani 0.75s forwards;
    animation: a-bar1-ani 0.75s forwards;
    @-webkit-keyframes a-bar1-ani {
      0% {
        -webkit-transform: translateY(0) rotate(0);
      }
      50% {
        -webkit-transform: translateY($transform) rotate(0);
      }
      100% {
        -webkit-transform: translateY($transform) rotate(45deg);
      }
    }
    @keyframes a-bar1-ani {
      0% {
        transform: translateY(0) rotate(0);
      }
      50% {
        transform: translateY($transform) rotate(0);
      }
      100% {
        transform: translateY($transform) rotate(45deg);
      }
    }
  }
  & > span:nth-of-type(2) {
    opacity: 0;
  }
  & > span:nth-of-type(3) {
    -webkit-animation: a-bar3-ani 0.75s forwards;
    animation: a-bar3-ani 0.75s forwards;
    @-webkit-keyframes a-bar3-ani {
      0% {
        -webkit-transform: translateY(0) rotate(0);
      }
      50% {
        -webkit-transform: translateY(-#{$transform}) rotate(0);
      }
      100% {
        -webkit-transform: translateY(-#{$transform}) rotate(-45deg);
      }
    }
    @keyframes a-bar3-ani {
      0% {
        transform: translateY(0) rotate(0);
      }
      50% {
        transform: translateY(-#{$transform}) rotate(0);
      }
      100% {
        transform: translateY(-#{$transform}) rotate(-45deg);
      }
    }
  }
}
